fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic<2.0
python-dotenv
joblib
xgboost
scikit-learn
pandas
python-jose[cryptography]
sentence-transformers>=2.2.0
scikit-learn>=1.1
numpy
alembic
psycopg2